* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body {
  background-color: #f4f4f4;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}
/* src/index.css or src/App.css */
* {
  font-family: 'League Spartan', sans-serif;
}
